<!DOCTYPE html>
<html lang="en">
	<head>
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	</head>
	<style>
	.background {
  		background: url(https://abs.twimg.com/a/1467966468/img/t1/lohp_streams_header_bg_v4.png);
		width: 100%;
		height: 300px; 
	}

	
	.transbox{
	  font-weight: bold;
	  color: white;
	  text-align: center;
	}

	</style>
	<body>
		<div class="background">
		  <div class="transbox">
		    <p style="font-size: 30px; padding-top: 100px;">See what’s happening right now.</p>
			<p style="font-size: 20px;">Find community, conversation and inspiration about the things you love.</p>
		  </div>
		</div>
		<div class="col-md-offset-4 col-md-4" style="padding-top: 150px">
		<table class="table">
			<tr>
				<td>
					<img src="images/logo.jpg">
				</td>
				<td>
					<p style="font-family: 'Pacifico', cursive; font-size: 50px;">Twitter Client</p>
					<p style="font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; font-weight: bold">Welcome! Please log in.</p><br/>
						<a href="/auth/twitter"><img src="images/sign-in-with-twitter-l.png" width="200" height="30"></a>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>